@use "styles/index" as *;

$header-background-color: $color-background-default;
$header-logo-width: toRem(88px);

// Desktop
$header-desktop-padding-x: $spacing-16;
$header-desktop-padding-y: $spacing-88;
$header-desktop-height: toRem(64px);

$header-desktop-navBar-gap: $spacing-32;
$header-desktop-navBar__links-gap: $spacing-32;

$header-desktop-submenus__gap: $spacing-32;
$header-desktop-submenus-button-gap: $spacing-8;

// Mobile
$header-mobile-padding-x: $spacing-16;
$header-mobile-padding-y: $spacing-8;


// Styles
.header {
    background-color: $header-background-color;
    max-width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #EFF3F5;
    
    .header-principalContainer{
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        box-sizing: border-box;
        padding: $header-mobile-padding-x $header-mobile-padding-y;
    }


    .header__navBar__logo {
        width: $header-logo-width;
        min-width: $header-logo-width;
    }

    nav.header__navBar {
        @include displayFlex($justify: start);
        width: 50%;
        gap:32px; 
        flex-grow: 0;
    }

    .header-desktop__submenus {
        display: none;
    }

    .header-mobile__submenus{
        flex-grow: 1;
        @include displayFlex(row, space-between, center);
        gap: $spacing-24;
    }

    .header-mobile__submenus__item{
        @include displayFlex(row, space-between, center);
        gap: $spacing-14;
    }

    .header__navBar__links{
        display: none;
    }

    [class^='icon-']{
        color: $color-base-primary;
        height: toRem(24px);
        width: toRem(24px);
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .header__submenus__button{
        @include displayFlex(row, space-between, center);
        display: inline-flex;
        gap: 20px;
        min-width: fit-content;
    }

    @include desktop() {
        
        @include displayFlex(row, space-between, center);
        padding: $header-desktop-padding-x $header-desktop-padding-y;
        
        .header-principalContainer{
            width: 100%;
        }


        nav.header__navBar {
            @include displayFlex($justify: start);
            width: 50%;
            gap:32px; 
            flex-grow: 1;
        }

        .header__navBar__links{
            @include displayFlex();
            gap:$header-desktop-navBar__links-gap;
        }

        .header-desktop__submenus {
            @include displayFlex(row, end, center);
            flex-grow: 0;
            width: fit-content;
            min-width: 300px;
        }

        .header-mobile__submenus {
            display: none;
        }

        .header__navBar__a {
            @include bodyBold();
        }
    }
}