<section class="proximas-renovaciones">

    <pr-modal></pr-modal>

    <pr-header></pr-header> 
    
    <section class="proximas-renovaciones__contents">     
        <pr-renovations-table></pr-renovations-table>
        <mat-paginator 
            [pageSizeOptions]="[5, 10, 15, 20]"
            [length]="renovationJsonInjection.totalRenovations()"
            [pageSize]="renovationJsonInjection.pageSize()"
            [pageIndex]="renovationJsonInjection.currentPage()"
            (page) = "onPageChange($event)"
            [showFirstLastButtons]="true">
        </mat-paginator>
    </section>
</section>