<div class="proximas-renovaciones__contents__filters">
    <div class="pr__contents__filters__filter-list">
        <app-btn-general (click)="modalService.setModal(true)" variant="transparent">
            <span class="icon-filter"></span>
            <span>Filtros</span>
        </app-btn-general>
        <div class="pr__contents__filters__filter-chips">
            @for(filter of this.filterService.getFilters(); track filter.id){
                <pr-filter-chip [filter]="filter"></pr-filter-chip>
            }
        </div>
    </div>
    <div class="pr__contents__filters__data">
        <span>{{renovationsService.totalFilteredRenovations()}} pólizas</span>
        <div>
            <label for="ordenarpor">Ordenar por:</label>
            <select name="ordenarpor" id="select_ordenarPor" (change)="onOrderSelection($event)">
                <option value="numPoliza">Número de póliza</option>
                <option value="importe">Importe</option>
                <option value="fechaContratacion">Fecha de contratación</option>
                <option value="fechaVencimiento">Fecha de vencimiento</option>
            </select>
        </div>
    </div>
</div>

<div class="proximas-renovaciones__contents__table">
    <div class="proximas-renovaciones__contents__tableHeader">
        <span>No. de póliza</span>
        <span>Nombre del riesgo</span>
        <span>Fecha de contrato</span>
        <span>Fecha de vencimiento</span>
        <span>Importe</span>
        <span>Estado de la póliza</span>
    </div>
    
    <table class="proximas-renovaciones__contents__tableContents">
        @for(poliza of this.renovationsService.paginatedRenovations(); track poliza.policyNumber){
            <pr-table-row [poliza]="poliza"></pr-table-row>
        }
    </table>
</div>