<div class="proximas-renovaciones__contents__filters">
    <div class="pr__contents__filters__filter-list">
        <button (click)="modalService.setModal(true)">
            <span class="icon-filter"></span>
            <span>Filtros</span>
        </button>
        <div class="pr__contents__filters__filter-chips"></div>
    </div>
    <div class="pr__contents__filters__data">
        <span>{{totalPolizas()}} pólizas</span>
        <div>
            <label for="ordenarpor">Ordenar por:</label>
            <select name="ordenarpor" id="select_ordenarPor">
                <option value="numPoliza">Número de póliza</option>
                <option value="importe">Importe</option>
                <option value="fechaContratacion">Fecha de contratación</option>
                <option value="fechaVencimiento">Fecha de vencimiento</option>
            </select>
        </div>
    </div>
</div>

<div class="proximas-renovaciones__contents__table">
    <div class="proximas-renovaciones__contents__tableHeader">
        <span>No. de póliza</span>
        <span>Nombre del riesgo</span>
        <span>Fecha de contrato</span>
        <span>Fecha de vencimiento</span>
        <span>Importe</span>
        <span>Estado de la póliza</span>
    </div>
    
    <table class="proximas-renovaciones__contents__tableContents">
        <thead>
            <tr>
            <th scope="col">No. poliza</th>
            <th scope="col">Nombre del riesgo</th>
            <th scope="col">Fecha contrato</th>
            <th scope="col">Fecha vencimiento</th>
            <th scope="col">Importe</th>
            <th scope="col">Estado</th>
            </tr>
        </thead>
        @for(poliza of this.renovationsService.paginatedRenovations(); track poliza.policyNumber){
            <tr>
                <td scope="col">{{poliza.policyNumber}}</td>
                <td scope="col">{{poliza.name}}</td>
                <td scope="col">{{poliza.contractDate}}</td>
                <td scope="col">{{poliza.endDate}}</td>
                <td scope="col">{{poliza.amount}}</td>
                <td scope="col">{{poliza.state}}</td>
            </tr>
        }
    </table>
</div>