@use 'styles/index' as *;

$pr-contents-table-gap: $spacing-24;

$pr-contents-tableHeader-padding-y: $spacing-8;
$pr-contents-tableHeader-padding-x: $spacing-16;
$pr-contents-tableHeader-border-color: $color-border-border300;

$pr-contents-filtersData-gap: toRem(16px);

$pr-filter-chips-container-gap: toRem(12px);

:host{
    display: block;
    width: 100%;
}

.proximas-renovaciones__contents__table{
    @include displayFlex(column, space-between, stretch);
    width: 100%;
    gap: $pr-contents-table-gap;

    .proximas-renovaciones__contents__tableHeader{
        @include displayGrid($columns: 6, $gap: 16px);
        width: 100%;
        border-bottom: 1px solid $pr-contents-tableHeader-border-color;
        padding: $pr-contents-tableHeader-padding-y $pr-contents-tableHeader-padding-x;
    }
    
    .proximas-renovaciones__contents__tableHeader span{
        @include body();
    }

    
    .proximas-renovaciones__contents__tableContents{
        @include displayFlex(column, space-between, start);
        gap: toRem(24px);
        width: 100%;
        border-collapse: collapse;
        padding-bottom: toRem(20px);
        overflow: visible;
    }
}

.proximas-renovaciones__contents__filters{
    @include displayFlex(column, start, start);
    gap: toRem(24px);
}

.pr__contents__filters__filter-list{
    @include displayFlex($justify: start);
    gap: toRem(12px);

    .pr__contents__filters__filter-chips{
        @include displayFlex(row, start, center);
        gap: $pr-filter-chips-container-gap;
        flex-wrap: wrap;
    }
}

.pr__contents__filters__data{
    @include displayFlex(row, space-between, center);
    width: 100%;
    margin-bottom: toRem(40px);

    .pr__contents__filters__data__mainData{
        color: $color-border-border300;

        span{
            @include bodyBold();
        }

        a{
            @include bodyBold($color-base-primary);
        }
    }

    div{
        @include displayFlex(row);
        gap: $pr-contents-filtersData-gap;
    }
}