@use 'styles/index' as *;


// Mobile
$home-hero-text-color: white;
$home-hero-height: 496px;
$home-hero-contents-gap: $spacing-40;
$home-hero-text-padding: $spacing-40;
$color-hero-translucent-background: rgba(0, 0, 0, 0.5);

// Desktop
$home-hero-desktop-contents-width: 700px;
$home-hero-desktop-contents-gap: 40px;
$home-hero-desktop-contents-padding: 40px;

.home__hero{
    @include displayFlex(column, center, center);
    // background-image: url('/assets/images/hero-cover.jpg');
    background: 
        linear-gradient(
            $color-hero-translucent-background,
            $color-hero-translucent-background),
        url("/assets/images/hero-cover.jpg");
    background-size: cover;
    background-position: center;
    height: $home-hero-height;
    
    .home__heroContents{
        @include displayFlex(column, center, center);
        gap: $home-hero-contents-gap;
        text-align: center;
    }

    .home__hero__title{
        @include header2($home-hero-text-color);
    }

    .home__hero__subtitle{
        @include subtitle($home-hero-text-color);
    }

    .home__hero__title, .home__hero__subtitle{
        padding-left: $home-hero-text-padding;
        padding-right: $home-hero-text-padding;
    }

    @include desktop(){
         .home__heroContents{
            @include displayFlex(column, center, center);
            width: $home-hero-desktop-contents-width;
            gap: $home-hero-desktop-contents-gap;
            text-align: center;

            padding-top: $home-hero-desktop-contents-padding;
            padding-bottom: $home-hero-desktop-contents-padding;
        }

        .home__hero__title, .home__hero__subtitle{
            padding: 0px;
        }

        .home__hero__title{
            @include title($home-hero-text-color);
        }

        .home__hero__subtitle{
            @include subtitle($home-hero-text-color);
        }
    }
}