@use "styles/index" as *;

// Variables
$header-padding-x: $spacing-16;
$header-padding-y: $spacing-88;
$header-height: toRem(64px);
$header-background-color: $color-background-default;

$header__navBar-gap: $spacing-32;
$header__navBar__links-gap: $spacing-32;
$header__logo-width: toRem(88px);

$header__submenus__gap: $spacing-32;

// Styles
.header{
    @include displayFlex();
    background-color: $header-background-color;
    max-width: 100%;
    max-height: $header-height;

    padding: $header-padding-x $header-padding-y;

    // Contenedores principales
    .header__navBar{
        @include displayFlex($justify:start);
        flex-grow: 2;
        gap: $header__navBar-gap;
    }

    .header__submenus{
        @include displayFlex();
        flex-grow: 0;
        gap: $header__submenus__gap;
    }

    // Componentes secundarios
    .header__navBar__links{
        @include displayFlex();
        gap: $header__navBar__links-gap;
    }
    
    .header__navBar__logo{
        max-width: $header__logo-width
    }

    .header__navBar__a{
        @include bodyBold($color-text-subtitle);
    }
}