@use "styles/index" as *;

$header-background-color: $color-background-default;
$header-logo-width: toRem(88px);

// Desktop
$header-desktop-padding-x: $spacing-16;
$header-desktop-padding-y: $spacing-88;
$header-desktop-height: toRem(64px);

$header-desktop-navBar-gap: $spacing-32;
$header-desktop-navBar__links-gap: $spacing-32;

$header-desktop-submenus__gap: $spacing-32;
$header-desktop-submenus-button-gap: $spacing-8;

// Mobile
$header-mobile-padding-x: $spacing-16;
$header-mobile-padding-y: $spacing-8;


// Styles
.header{
    background-color: $header-background-color;
    max-width: 100%;
    padding: $header-mobile-padding-x $header-mobile-padding-y;

    .header__navBar__logo{
        width: $header-logo-width;
    }

    .header__navBar{
        @include displayFlex($justify:start);
    }

    .header-desktop__submenus{
        display: none;
    }

    


    @include desktop(){
        .header-desktop__submenus{
            display: block;
        } 
         
        .header-mobile__submenus{
            display: none;
        }

        .header__navBar__a{
            @include bodyBold();
        }
    }
    // @include desktop(){
    //     @include displayFlex();
    //     max-height: $header-desktop-height;
    //     padding: $header-desktop-padding-x $header-desktop-padding-y;

    //     // Contenedores principales
    //     .header__navBar{
    //         @include displayFlex($justify:start);
    //         flex-grow: 2;
    //         gap: $header-desktop-navBar-gap;
    //     }

    //     .header__submenus{
    //         @include displayFlex();
    //         flex-grow: 0;
    //         gap: $header__submenus__gap;
    //     }
    // }

    // .header__submenus__button{
    //     @include displayFlex();
    //     gap: $header-desktop-submenus-button-gap;
    // }

    // // Componentes secundarios
    // .header__navBar__links{
    //     @include displayFlex();
    //     gap: $header__navBar__links-gap;
    // }
    
    // .header__navBar__logo{
    //     max-width: $header__logo-width
    // }

    // .header__navBar__a{
    //     @include bodyBold($color-text-subtitle);
    // }
}