<div class="header__user-desplegable">
    <div>
        <div class="header__user-desplegable__userHeader">
            <span class="header__user-desplegable__userHeader__title">Mi perfil</span>
            <span class="header__user-desplegable__userHeader__subtitle">En este espacio puedes acceder, modificar, gestionar y consultar todo lo relacionado con tus servicios de energía. Fácil y rápido. </span>
        </div>
        <a routerLink="" class="header__user-desplegable__item">
            <span class="icon-user"></span>
            <span>Mis datos personales</span>
        </a>
        <a routerLink="" class="header__user-desplegable__item">
            <span class="icon-lock"></span>
            <span>Mi contraseña</span>
        </a>
        <a routerLink="" class="header__user-desplegable__item">
            <span class="icon-telephone"></span>
            <span>Contacto</span>
        </a>
        <a routerLink="" class="header__user-desplegable__item">
            <span class="icon-power-off"></span>
            <span>Cerrar Sesión</span>
        </a>
    </div>
</div>