@use "media-queries" as *;
@use "variables" as *;
@use "mixins" as *;

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}

body{
    min-height: 100vh;

    background-color: crimson;
    @include mobile(){
        background-color: darkblue;
    }
}

img{
    display: block;
    max-width: 100%;
    width: auto;
}

a{
    text-decoration: none;
    transition: all 0.3s ease-in;
    &:hover{
        text-decoration: underline;
    }
}

ul{
    list-style: none;
}

.div-centered{
    @include displayFlex(row, start, center);
    gap: $spacing-8;
}