@use "./media-queries" as *;
@use "./variables" as *;
@use "./mixins" as *;
@use "./colors" as *;
@use "./functions" as *;

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}

body{
    min-height: 100vh;
    background-color: crimson;
    @include mobile(){
        background-color: darkblue;
    }
}

img{
    display: block;
    max-width: 100%;
    width: auto;
}

a{
    text-decoration: none;
    transition: all 0.3s ease-in;
    &:hover{
        text-decoration: underline;
    }
}

button{
    transition: all 0.2s ease-in;
}

ul{
    list-style: none;
}

.div-centered{
    @include displayFlex(row, start, center);
    gap: $spacing-8;
}

select, input{
    background-color: white;
    border-color: #A7B8BF;
    border-radius: toRem(4px);
    padding: toRem(8px);
    outline: none;
    box-shadow: none;
}

input{
    appearance: none;
}

select{
  appearance: auto;
  @include body($color-text-title);
}
