$color-base-primary: #4B98D9;
$color-text-label: #6B8893;
$color-text-title: #161C1F;
$color-text-subtitle: #405258;
$color-primary-grey: #374649;
$color-border-default: #EFF3F5;
$color-background-default: #FFFFFF;