// Generals
$color-base-primary: #4B98D9;
$color-base-primary-25: #CFE1F1;
$color-base-primary-50: #9FC3E2;
$color-base-primary-75: #6FA6D4;
$color-primary-grey: #374649;

// Texts
$color-text-label: #6B8893;
$color-text-title: #161C1F;
$color-text-subtitle: #405258;
$color-text-information-text: #191C3D;

// Borders & Backgrounds
$color-border-default: #EFF3F5;
$color-border-border300: #A7B8BF;
$color-background-default: #FFFFFF;