/* Spacing */
$spacing-4: 0.25rem;
$spacing-8: 0.5rem;
$spacing-10: 0.625rem;
$spacing-12: 0.75rem;
$spacing-14: 0.875rem;
$spacing-16: 1rem;
$spacing-24: 1.5rem;
$spacing-32: 2rem;
$spacing-40: 2.5rem;
$spacing-48: 3rem;
$spacing-88: 5.5rem;

/* Font Weight*/
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

/* Media Queries */
$mobile-width: 576px;

/* Fonts */
$font-family-default: 'Roboto', sans-serif;
$font-letter-spacing-default: 0%;

$font-size-icon: 24px;
$font-size-title: 16px;
$font-size-header2: 40px;
$font-size-header3: 24px;
$font-size-subtitle: 24px;
$font-size-body: 16px;
$font-size-body-bold: 16px;
$font-size-small: 10px;
$font-size-title-small: 10px;