@use "styles/functions" as *;

/* Spacing */
$spacing-4: toRem(4px);
$spacing-8: toRem(8px);
$spacing-10: toRem(10px);
$spacing-12: toRem(12px);
$spacing-14: toRem(14px);
$spacing-16: toRem(16px);
$spacing-20: toRem(20px);
$spacing-24: toRem(24px);
$spacing-32: toRem(32px);
$spacing-40: toRem(40px);
$spacing-48: toRem(48px);
$spacing-88: toRem(88px);

/* Font Weight*/
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;


/* Fonts */
$font-family-default: 'Roboto', sans-serif;
$font-letter-spacing-default: 0%;

$font-size-icon: 24px;
$font-size-title: 16px;
$font-size-header2: 40px;
$font-size-header3: 24px;
$font-size-subtitle: 24px;
$font-size-body: 16px;
$font-size-body-bold: 16px;
$font-size-small: 10px;
$font-size-title-small: 10px;