<section class="proximas-renovaciones__header">
    <div class="proximas-renovaciones__header__breadcrumbs">
        <span class="breadcrumb--title">Pólizas</span>
        <span>/</span>
        <span>Próximas Renovaciones</span>
    </div> 
    <div class="proximas-renovaciones__header__pageinfo">
        <h2>Próximas Renovaciones</h2>
        <div class="proximas-renovaciones__header__pageinfo__totalPolizas">
            <span class="icon-file"></span>
            <span>{{renovationService.totalRenovations()}} Pólizas</span>
        </div>
    </div>
</section>