@if(modalService.isOpen()){
   <section class="pr-modal">
    <div class="pr-modal__header">
        <span>Filtros</span>
        <span class="icon-close" (click)="modalService.setModal(false)"></span>
    </div>
    <div class="pr-modal__contents">
        <form action="" [formGroup]="filterForm" (ngSubmit)="generateFilters()">
            <div>
                <label for="numPoliza">Número de póliza</label>
                <input type="number" name="numPoliza" formControlName="numPoliza" placeholder="Número de póliza">
            </div>
            <div>
                <label for="nombreRiesgo">Nombre del riesgo</label>
                <input type="text" name="nombreRiesgo" formControlName="nombreRiesgo" placeholder="Nombre del riesgo">
            </div>
            <div>
                <label for="">Fecha de validez</label>
                <div>
                    <input type="date" formControlName="fechaInicio">
                    <span>al</span>
                    <input type="date" formControlName="fechaFinal">
                </div>
            </div>
            <div>
                <label for="importe">Importe</label>
                <input type="number" name="importe" formControlName="importe" placeholder="Introduzca un importe">
            </div>
            <div>
                <label for="estado">Estado</label>
                <select name="estado" id="" formControlName="estado">
                    <option value="">Selecciona un estado</option>
                    <option value="Pendiente">Pendiente</option>
                    <option value="Pagado">Pagado</option>
                    <option value="Vencido">Vencido</option>
                </select>
            </div>
            <div class="pr-modal__footer">
                <app-btn-general variant="white" (click)="deleteAllFilters()">
                    <span>Borrar filtros</span>
                </app-btn-general>
                <app-btn-general type="submit">
                    <span>Aplicar filtros</span>
                </app-btn-general>
            </div>
        </form>
    </div>
</section>
<section class="pr-modal-underlay" (click)="modalService.setModal(false)"></section> 
}