<div class="clientes-potenciales-card">
    <div class="clientes-potenciales-card__header">
        <span class="clientes-potenciales-card-name">{{client.name}} {{client.surname}}</span>
        <button (click)="deleteClient()"><span class="icon-trash-alt"></span></button>
        <span class="clientes-potenciales-card-product">Producto a ofrecer: {{client.product}}</span>
    </div>
    <div class="clientes-potenciales-card__personalData">
        <span class="clientes-potenciales-card-email">Email: {{client.email}}</span>
        <span class="clientes-potenciales-card-phone">Teléfono: {{client.phone}}</span>
    </div>
</div>
