@use "styles/index" as *;


// Variables
$footer-padding-x: $spacing-88;
$footer-padding-y: $spacing-16;
$footer-span-gap: $spacing-8;
$footer-border-top-width: toRem(1px);
$footer-principal-containers-gap: $spacing-12;
$footer-navBar-y-padding: $spacing-16;
$footer-info-y-padding: $spacing-16;
$footer-navBar-nav-gap: $spacing-24;
$footer-border-top-width: toRem(1px);

$footer-background-color: $color-background-default;
$footer-border-top-color: $color-border-default;
$footer-span-icons-color: $color-base-primary;
$footer-span-color: $color-text-subtitle;
$footer-navBar-links-color: $color-text-subtitle;

// Styles
.footer{
    height: fit-content;
    max-width: 100%;

    border-top: $footer-border-top-width solid $footer-border-top-color;
    background-color: $footer-background-color;
    padding: $footer-padding-y $footer-padding-x;
    
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "contactInfo companyInfo"
        "navBar navBar";

    // Info
    .footer__companyInfo, .footer__contactInfo{
        @include displayFlex(column, center, start);
        gap: $footer-principal-containers-gap;
        padding: $footer-info-y-padding 0px;
    }   

    .footer__contactInfo{   
        grid-area: contactInfo;
    }
    
    .footer__companyInfo{
        grid-area: companyInfo;
    }

    .footer__contactInfo [class^="icon-"] {
        color: $footer-span-icons-color;
    }

    .footer__contactInfo:not([class^="icon-"]),
    .footer__companyInfo:not([class^="icon-"]){
        @include body($footer-span-color);
    }

    .footer__contactInfo__title{
        @include bodyBold($color-base-primary);
    }

    // NavBar
    .footer__navBar{
        @include displayFlex();
        grid-area: navBar;
        padding: $footer-navBar-y-padding 0px;
    }

    .footer__navBar nav{
        @include displayFlex($justify:start);
        gap: $footer-navBar-nav-gap;
    }

    .footer__navBar__link, .footer__navBar__copyright{
        @include small($footer-navBar-links-color);
    }

    .footer__navBar__link:not(:last-child)::after {
        content: "|";
        margin-left: $footer-navBar-nav-gap;
    }

    span{
        @include displayFlex($justify:start);
        gap: $footer-span-gap;
    }

    // MOBILE
    @include mobile(){
        display: flex;
        flex-direction: column;
    }
}